* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    background: #003973;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E5E5BE, #003973);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
    transform: scale(1);
    transition: transform 25ms;
}

button:hover {
    transform: scale(1.2);
}

.fun {
    background: #f7ff00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #db36a4, #f7ff00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}